.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0;
}

.title{
color: darkgrey;
}

.values{
    height: 30px;
    width: 150px;
    text-align: center;
    font-size: 25px;
    padding: 0;
    margin: 0;

}